body {
    font-family: 'Roboto', sans-serif;
}
.card {
    width: 190px;
    height: 140px;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    margin: 0px;
    
}

.header {
    margin-top: 15px;
    margin-bottom: 22px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card-title {
    font-size: 14px;
    font-weight: 800;
    color: #333;
    margin: 0;
}

.card-title2 {
    font-size: 9px;
    font-weight: bold;
    color: #575B66;
    margin: 0;
}

.volume {
    font-size: 14px;
    font-weight: bold;
    color: #575B66;
    margin: 0;
}

.volume2 {
    font-size: 9px;
    font-weight: bold;
    color: #575B66;
    margin: 0;

}

.pulse {
    position: absolute;
    right: 0;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #12FE46;
    z-index: 1; /* Ensure pulse is above other elements */
    margin-bottom: 8px;
    margin-left: 14px;
    margin-right: 20px;
}

.pulse:before,
.pulse:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #12FE46;
    border-radius: 50%;
    z-index: -1; /* Ensure pulse background is behind the pulse */
    opacity: 0.7;
}

.pulse:before {
    animation: pulse 2s ease-out infinite;
}

.pulse:after {
    animation: pulse 2s 1s ease-out infinite;
}

@keyframes pulse {
    100% {
        transform: scale(2.5);
        opacity: 0;
    }
}

.alert {
    margin-top: 0px;
    margin-bottom: 0px;

}
.alert3{
    margin-top: 5px;
    margin-bottom: 0px;

}
.alert2{
    margin-top: 15px;
    margin-bottom: 0px;

}
.alert i {
    font-size: 10px;
    color: #e53e3e;
}
.alert3 i {
    font-size: 10px;
    color: #E6AC10;
}
.textalert {
    font-size: 9px;
    color: #e53e3e;
}

.font-semibold {
    font-weight: 600;
}

.text-red-500 {
    color: #e53e3e;
}

.ml-1 {
    margin-left: 0.25rem;
}

.tank-container {
    position: relative;
    margin-top: -29px;
}

.tank {
    width: 150px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 100px;
    overflow: hidden;
    position: relative;
    border: 1px solid #ABADB2;
}

.water {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    animation: fillTank 4s ease forwards;
    height: 0%;
}

.percentage-container {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.percentage {
    font-size: 14px;
    color: #333;
    font-weight: bold;
}

@keyframes fillTank {
    0% {
        height: 0%;
    }

    100% {
        height: calc(var(--water-height) * 100%);
    }
}

.circle-tank {
    width: 22px;
    height: 6px;
    background-color: grey;
    border-radius: 100px;
    position: absolute;
    top: 20px;
    left: 77%;
    transform: translateX(-50%);
}

.vertical-line {
    position: relative;
    top: 9px;
    left: 77%;
    height: 25px;
    width: 0.3px;
    background-color: grey;
    transform: translateX(-50%);
}

.horizontal-line {
    position: absolute;
    top: 8px;
    left: 101%;
    width: 72px;
    height: 0.5px;
    background-color: grey;
    transform: translateX(-50%);
}

.rectangle-border {
    position: absolute;
    top: -9px;
    left: 148%;
    width: 70px;
    height: 34px;
    border: 0.5px solid grey;
    border-radius: 8px;
    transform: translateX(-50%);
}

.btn {
    bottom: 10px;
    overflow: hidden;
    position: absolute;
    right: 20px;
    display: flex;

}